<footer class="page-footer font-small bg-secondary pt-4">
  <div class="container">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Redes sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <!-- target = _blank - faz com que se abra uma nova página ao clicar no link e não saia da página atual -->
        <ul class="social-network">
          <li>
            <a
              href="https://www.linkedin.com/in/henrykmichalicki/"
              target="_blank"
              class="iconLinkedin"
            >
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a
              href="https://github.com/HenrykMichalicki"
              target="_blank"
              class="iconGitHub"
            >
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </li>

          <li>
            <a
              href="https://www.instagram.com/rendrikks/"
              target="_blank"
              class="iconInstagram"
            >
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright bg-dark text-center py-3">
      <span class="text-light"> © 2021 Copyright: </span>
    <a class="text-light" target="_blank" href="https://github.com/HenrykMichalicki"> Henryk Michalicki</a>
    
  </div>
</footer>
