<!-- container-fluid - preenche a tela toda -->
<!-- label - cabeçário do input -->
<!-- input - abre a caixa de texto determinada para ser digitado algo. precisa de name e id para fazer referência ao backend-->
<!-- placeholder - texto que aparece dentro da label -->

<div class="container-fluid">
    <!-- alinha verticcalmente os itens -->
  <div class="row d-flex align-items-center">

    <div class="col-md-6">
        <!-- alinha horizontalmente os itens -->
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">

                <h1 class="text-danger d-flex justify-content-center mb-3">Entrar</h1>

                <div class="form-group">
                    <!--  -->
                    <label for="usuario">Usuário</label>
                    <!-- form-control faz com que a label e a caixa de texto fiquem separados -->
                    <input class="form-control" type="email" name="usuário" id="usuario" placeholder="Digite seu usuário" required [(ngModel)]= "usuarioLogin.usuario">
                    <!-- required - função do HMTL que força o usuário a preencher esse campo. Ao passar o mouse, o mesmo aparece a mensagem que precisa ser preenchido -->
                </div>
    

                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha" required [(ngModel)]= "usuarioLogin.senha">
                    <!-- type="password" - faz com que ao se digitar, apareçam as bolinhas ao invés de mostrar a senha do usuário -->
                </div>

                <div class="d-flex justify-content-center m-4">
                    <button type="submit" class="btn btn-danger" (click)="entrar">Entrar</button>
                </div>
                <!-- Criar a linha para separar os botões -->
                <hr class="mt-4 mb-4">

                <!-- href - da acesso a um link externo -->
                <!-- routerLink - da acesso a um link de forma interna -->
                <p class="text-center">Não tem uma conta? <a href="" routerLink='/cadastrar'>Cadastre-se!</a>
                </p>
            </div>

    </div>


</div>

    <div class="col-md-6" id="img-bg"></div>
  </div>
</div>
